#background{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
}
#logo {
    width: 70px;
    height: auto;
}
.lister{
    font-family: 'Dancing Script', cursive;
    color: white;

}
#mainlogo{
    width: 200px;
    height: auto;

}