#background{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    z-index: -1000;
}
#logo {
    width: 70px;
    height: auto;
}
.lister{
    font-family: 'Dancing Script', cursive;
    color: white;

}
#mainlogo{
    width: 200px;
    height: auto;

}

.adBox{
    width: 400px;
    height: 250px;
    margin-right: 50px;
    margin-bottom:50px;

.navbar{
    background-color: rgba(107,161,129,1);
    !important;

}